@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  background: rgba(211, 203, 190, 0.13);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
}

button {
  border-width: 0;
  outline: none;
}

ul,
ol {
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.button {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #ec5937;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.section-pd {
  padding: 80px 0 96px;
}

.section-title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 32px;
  color: #4d4d4d;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-title::before,
.section-title::after {
  display: inline-block;
  content: " ";
  width: 100px;
  height: 2px;
  position: relative;
  top: -8px;
  background-color: #ec5937;
}

.section-title::before {
  margin-right: 16px;
}

.section-title::after {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .section-pd {
    padding: 48px 0 64px;
  }

  .section-title {
    font-size: 24px;
    line-height: 23px;
  }

  .section-title::before,
  .section-title::after {
    width: 48px;
  }

  .blocker {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 420px) {
  .section-pd {
    padding: 48px 0 48px;
  }

  .section-title {
    margin-bottom: 24px;
  }

  .section-title::before,
  .section-title::after {
    display: none;
  }
}
