@media only screen and (max-width: 420px) {
  .container {
    padding: 0 20px;
  }

  .only-tablet {
    display: none;
  }

  .only-mobile {
    display: block;
  }

  #intro {
    background-image: url("../images/cover_mobile.jpg");
  }

  .intro-box {
    padding: 164px 0 88px;
  }

  .intro-box .intro-box__block {
    display: none;
  }

  .intro-box .title {
    margin-bottom: 150px;
  }

  .intro-box .title .title-text {
    font-size: 23px;
    line-height: 37px;
    letter-spacing: 0.05em;
  }

  .intro-mobile-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-mobile-icons .intro-mobile-icons__item {
    width: 26px;
  }

  .intro-mobile-icons .intro-mobile-icons__item:not(:last-child) {
    margin-right: 48px;
  }

  .intro-mobile-icons .intro-mobile-icons__item img {
    width: 100%;
  }

  .about-us {
    padding-bottom: 48px;
  }

  .about-us .about-us__header-block {
    margin-top: -50px;
    margin-bottom: 32px;
    padding: 32px;
  }

  .about-us .about-us__header-block p {
    margin-bottom: 24px;
  }

  .about-us .about-us__advantage-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
  }

  .about-us .about-us__advantage-block .about-us__advantage-block__item {
    padding: 16px;
  }

  .services .services-box {
    gap: 24px;
  }

  .services .services-box .services-box__item-image {
    height: 118px;
  }

  .services .services-box .services-box__item .services-box__item-box {
    height: calc(100% - 118px);
    padding: 24px 24px 32px;
  }

  .services .services-box .services-box__item .services-box__item-box h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .convenience .convenience-block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
  }

  .convenience .convenience-block .convenience-block__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    padding: 0;
  }

  .convenience .convenience-block .convenience-block__item p {
    max-width: 266px;
    text-align: center;
  }

  .contacts .contacts-block .contacts-block__detail {
    margin-bottom: 24px;
  }

  .contacts .contacts-block .contacts-block__detail h3 {
    max-width: 332px;
    margin-bottom: 16px;
  }

  .contacts
    .contacts-block
    .contacts-block__detail
    .contacts-block__detail-text {
    margin-bottom: 24px;
  }

  .contacts-block
    .contacts-block__detail
    .contacts-block__detail-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .modal {
    max-width: 380px !important;
  }

  .modal .modal-body {
    padding: 64px 20px 32px;
  }

  .modal .modal-body h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .modal .modal-body .text {
    margin-bottom: 20px;
  }

  .modal .modal-footer {
    padding: 24px 24px 48px;
  }

  .modal .modal-body .close {
    top: 16px;
    right: 16px;
  }
}
