.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
}

.only-tablet {
  display: none;
}

.only-mobile {
  display: none;
}

header {
  padding: 21px 0;
  background-color: #413d3c;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 156px;
  height: 62px;
}

.header .logo img {
  width: 100%;
}

.header .header__nav {
  display: flex;
}

.header .header__nav ul {
  margin-right: 64px;
}

.header .header__nav ul li {
  display: inline-block;
}

.header .header__nav ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.header .header__nav ul li a:hover {
  padding-bottom: 6px;
  border-bottom: 2px solid #ec5937;
}

.header .header__nav ul li:not(:last-child) {
  margin-right: 64px;
}

.social-media {
  display: flex;
}

.social-media .social-media__item {
  display: block;
  width: 20px;
  height: 20px;
}

.social-media .social-media__item img {
  width: 100%;
}

.social-media__item:first-child {
  margin-right: 16px;
}

label {
  display: none;
}

#toggle {
  display: none;
}

.toggle-menu {
  display: none;
}

#intro {
  background-image: url("../images/cover_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-box {
  padding: 90px 0 102px;
}

.intro-box .title {
  margin-bottom: 93px;
}

.intro-box .title .title-text {
  max-width: 650px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro-box .title p {
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.intro-box .title button {
  padding: 16px 34px;
  letter-spacing: 0.05em;
}

.intro-box .title button:hover {
  color: #ffffff;
  background-color: #ec5937;
}

.intro-box__block {
  display: flex;
}

.intro-box__block .intro-box__block-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  background: rgba(65, 61, 60, 0.7);
  border: 1px solid #d3cbbe;
}

.intro-box__block .intro-box__block-item:not(:last-child) {
  margin-right: 20px;
}

.intro-box__block .intro-box__block-item img {
  width: 26px;
  margin-right: 24px;
}

.intro-box__block .intro-box__block-item p {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

#about-us {
  padding-top: 10px;
  background-color: #413d3c;
}

.about-us {
  padding-bottom: 96px;
}

.about-us .about-us__header-block {
  display: flex;
  align-items: center;
  margin-top: -64px;
  margin-bottom: 46px;
  padding: 48px 54px;
  background-color: #413d3c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.about-us .about-us__header-block p {
  flex: 1;
  margin-right: 70px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #fff;
}

.about-us .about-us__header-block__image {
  max-width: 380px;
  flex: 1;
}

.about-us .about-us__header-block__image img {
  width: 100%;
}

.about-us .about-us__advantage-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
}

.about-us .about-us__advantage-block .about-us__advantage-block__item {
  padding: 24px 28px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.about-us .about-us__advantage-block .about-us__advantage-block__item .amount {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #ec5937;
  text-align: center;
}

.about-us .about-us__advantage-block .about-us__advantage-block__item .text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
}

#services {
  background-color: #fff;
}

.services .services-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}

.services .services-box .services-box__item {
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

.services .services-box .services-box__item-image {
  height: 146px;
}

.services .services-box .services-box__item img {
  width: 100%;
  height: 100%;
}

.services .services-box .services-box__item .services-box__item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 146px);
  padding: 24px 24px 32px;
}

.services .services-box .services-box__item .services-box__item-box button {
  margin-top: 24px;
  padding: 16px 56px;
  color: #ec5937;
}

.services
  .services-box
  .services-box__item
  .services-box__item-box
  button:hover {
  color: #fff;
  background-color: #ec5937;
}

.services .services-box .services-box__item .services-box__item-box h3 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}

.services .services-box .services-box__item .services-box__item-box p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #4d4d4d;
}

#convenience {
  background-image: url("../images/convenience-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.convenience h1 {
  color: #fff;
}

.convenience .convenience-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.convenience .convenience-block .convenience-block__item {
  padding: 0 16px;
}

.convenience .convenience-block .convenience-block__item img {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.convenience .convenience-block .convenience-block__item h2 {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #fff;
}

.convenience .convenience-block .convenience-block__item p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #fff;
}

#contacts {
  background-color: rgba(211, 203, 190, 0.13);
}

.contacts {
  padding: 80px 0 96px;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-block .contacts-block__detail {
  margin-right: 24px;
}

.contacts-block .contacts-block__detail h3 {
  max-width: 280px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #4d4d4d;
}

.contacts-block .contacts-block__detail p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  color: #4d4d4d;
}

.contacts-block .contacts-block__detail .contacts-block__detail-item {
  display: flex;
  align-items: center;
}

.contacts-block
  .contacts-block__detail
  .contacts-block__detail-item:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-block .contacts-block__detail .contacts-block__detail-item img {
  width: 24px;
  margin-right: 16px;
}

.contacts-block .contacts-block__detail .contacts-block__detail-item p {
  margin-bottom: 0;
}

.contacts-map {
  width: 490px;
  height: 340px;
}

footer {
  padding: 32px 0 52px;
  background-color: #413d3c;
}

.footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-wrap .logo {
  width: 126px;
  height: 50px;
}

.footer .footer-wrap .logo img {
  width: 100%;
}

.footer .footer-wrap .footer__nav ul {
  display: flex;
}

.footer .footer-wrap .footer__nav ul li a {
  font-size: 16px;
  line-height: 23px;
  color: #d3cbbe;
}

.footer .footer-wrap .footer__nav ul li:not(:last-child) {
  margin-right: 146px;
}

.footer .footer__nav-rp {
  display: none;
}

/* modal */
.modal {
  width: 100%;
  max-width: 640px !important;
  padding: 0 !important;
}

.modal a.close-modal {
  display: none !important;
}

.modal .modal-body {
  position: relative;
  padding: 96px 102px 48px;
}

.modal .modal-body h1 {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 48px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #4d4d4d;
  text-align: center;
}

.modal .modal-body p {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #4d4d4d;
  text-align: center;
}

.modal .modal-body .text {
  margin-bottom: 48px;
}

.modal .modal-body input {
  display: block;
  padding: 12px;
  width: 100%;
  border: 1px solid #ec5937;
  border-radius: 10px;
}

.modal .modal-body input[placeholder] {
  font-size: 16px;
  line-height: 23px;
  color: #4d4d4d;
}

.modal .modal-body input:not(:last-child) {
  margin-bottom: 24px;
}

.modal .modal-body button {
  display: block;
  width: 100%;
  margin-bottom: 36px;
  padding: 16px 0;
  border: 2px solid #ec5937;
  background-color: #ec5937;
  border-radius: 10px;
}

.modal .modal-body button:hover {
  background-color: transparent;
  border-radius: 10px;
  color: #ec5937;
}

.modal .modal-body .close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
}

.modal .modal-body .close img {
  width: 100%;
}

.modal .modal-footer {
  padding: 32px 0 64px;
  background-image: url("../images/convenience-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal .modal-footer p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f2f2f2;
}

.modal .modal-footer p a {
  color: #fff;
  text-decoration: underline;
}
