@media only screen and (max-width: 768px) {
  .only-desktop {
    display: none;
  }

  .only-tablet {
    display: block;
  }

  header {
    padding: 10px 0;
  }

  .header .logo {
    width: 126px;
    height: 50px;
    transform: translateY(0);
  }

  .header .header__nav {
    display: none;
  }

  .second-label {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 70px;
    padding: 32px 0 52px;
    background-color: #413d3c;
    border-radius: 5px;
  }

  .toggle-menu .social-media {
    align-items: center;
    justify-content: center;
  }

  .toggle-menu ul {
    margin-bottom: 24px;
  }

  .toggle-menu ul li a {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
  }

  .toggle-menu ul li:not(:last-child) {
    margin-bottom: 24px;
  }

  #intro {
    background-image: url("../images/cover_tablet.jpg");
  }

  .intro-box {
    padding: 180px 0 102px;
  }

  .intro-box .title {
    margin-bottom: 186px;
  }

  .intro-box .title .title-text {
    max-width: 620px;
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.07em;
    text-align: center;
  }

  .intro-box .title button {
    display: block;
    margin: 0 auto;
  }

  .about-us {
    padding-bottom: 64px;
  }

  .about-us .about-us__header-block {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
  }

  .about-us .about-us__header-block p {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about-us .about-us__header-block__image {
    max-width: 100%;
  }

  .about-us .about-us__advantage-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .services .services-box {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .services .services-box .services-box__item {
    align-self: start;
  }

  .services .services-box .services-box__item-image {
    height: 186px;
  }

  .services .services-box .services-box__item .services-box__item-box {
    justify-content: start;
    height: calc(100% - 186px);
    padding: 24px 32px 32px;
  }

  .convenience .convenience-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 32px 48px;
  }

  .convenience .convenience-block .convenience-block__item h2 {
    font-size: 20px;
  }

  .contacts {
    padding-top: 48px;
    padding-bottom: 0;
  }

  .contacts-block {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contacts-block .contacts-block__detail {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .contacts-block .contacts-block__detail h3 {
    max-width: 530px;
  }

  .contacts-map {
    width: 100%;
  }

  footer {
    padding-top: 24px;
  }

  .footer .footer-wrap {
    margin-bottom: 16px;
  }

  .footer .footer-wrap .footer__nav {
    display: none;
  }

  .footer .footer__nav-rp {
    display: block;
  }

  .footer .footer__nav-rp ul li:not(:last-child) {
    margin-bottom: 16px;
  }

  .footer .footer__nav-rp ul li a {
    font-size: 16px;
    line-height: 23px;
    color: #d3cbbe;
  }

  .modal {
    max-width: 520px !important;
  }

  .modal .modal-body {
    padding: 64px 42px 48px;
  }

  .modal .modal-body h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .modal .modal-body .text {
    margin-bottom: 24px;
  }

  .modal .modal-footer {
    padding: 32px 0 48px;
  }
}
