@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

body,
h1,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.icon {
  width: 140px;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #4d4d4d;
}

p {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #4d4d4d;
}

button {
  padding: 16px 34px;
  background-color: #ec5937;
  border: 2px solid #ec5937;
  border-radius: 30px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #ec5937;
}

.image {
  position: relative;
  height: 170px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 61, 60, 0.8);
}

@media only screen and (max-width: 768px) {
  .icon {
    width: 90px;
    margin-bottom: 48px;
  }

  h1 {
    font-size: 36px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 420px) {
  .icon {
    width: 48px;
  }

  h1 {
    font-size: 24px;
    line-height: 31px;
  }

  p {
    font-size: 16px;
    line-height: 21px;
  }
}
